.Crust {
    background-color: rgb(255, 163, 25);
    width: 50%;
    height: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    margin: auto;
}

.Sauce {
    background-color: rgb(255, 50, 22);
    width: 45%;
    height: 90%;
    border-radius: 50%;
    margin: 2.5% 2.5%;
    position: absolute;
}

.Cheese {
    background-color: rgb(252, 239, 58);
    width: 92%;
    height: 91%;
    border-radius: 50%;
    margin: 4.2% 4.2%;
    position: absolute;
}

/* This wraps each topping-group!! */
.IngredientLayer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

/* TOPPINGS */
.Pepperoni1 {
    background-color: rgb(201, 40, 0);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 10%;
}

.Pepperoni2 {
    background-color: rgb(201, 40, 0);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 10%;
}

.Pepperoni3 {
    background-color: rgb(201, 40, 0);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    bottom: 13%;
    right: 20%;
}

.Pepperoni4 {
    background-color: rgb(201, 40, 0);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    bottom: 13%;
    left: 20%;
}

.Pepperoni5 {
    background-color: rgb(201, 40, 0);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    left: 40%;
}

.Pepperoni6 {
    background-color: rgb(201, 40, 0);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 40%;
}

.Mushroom1 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(130deg);
}

.Mushroom2 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 10%;
    right: 10%;
    transform: rotate(230deg);
}

.Mushroom3 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 25%;
    right: 0%;
    transform: rotate(305deg);
}

.Mushroom4 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 25%;
    left: 0%;
    transform: rotate(40deg);
}

.Mushroom5 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 40%;
    left: 40%;
    transform: rotate(0deg);
}

.Mushroom6 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 5%;
    left: 30%;
    transform: rotate(180deg);
}

.MushroomImage {
    width: 80%;
    height: 70%;
}

.Sausage1 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 40%;
}

.Sausage2 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 5%;
}

.Sausage3 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 20%;
}

.Sausage4 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.Sausage5 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 5%;
}

.Sausage6 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
}

.Sausage7 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 30%;
}

.Sausage8 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    right: 30%;
}

.Sausage9 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    left: 30%;
}

.Sausage10 {
    background-color: rgb(138, 131, 130);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
}

.Meatball1 {
    background-color: rgb(136, 84, 0);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 20%;
}

.Meatball2 {
    background-color: rgb(136, 84, 0);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 20%;
}

.Meatball3 {
    background-color: rgb(136, 84, 0);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    right: 5%;
}

.Meatball4 {
    background-color: rgb(136, 84, 0);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.Meatball5 {
    background-color: rgb(136, 84, 0);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.Meatball6 {
    background-color: rgb(136, 84, 0);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
}

.Onion1 {
    background: linear-gradient(rgb(251, 223, 238), rgb(249, 141, 208));
    height: 16%;
    width: 6%;
    border-radius: 0 250px 250px 0;
    position: absolute;
    top: 5%;
    right: 45%;
    transform: rotate(30deg);
}

.Onion2 {
    background: linear-gradient(rgb(251, 223, 238), rgb(249, 141, 208));
    height: 16%;
    width: 6%;
    border-radius: 0 250px 250px 0;
    position: absolute;
    bottom: 10%;
    right: 30%;
    transform: rotate(160deg);
}

.Onion3 {
    background: linear-gradient(rgb(251, 223, 238), rgb(249, 141, 208));
    height: 16%;
    width: 6%;
    border-radius: 0 250px 250px 0;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: rotate(135deg);
}

.Onion4 {
    background: linear-gradient(rgb(251, 223, 238), rgb(249, 141, 208));
    height: 16%;
    width: 6%;
    border-radius: 0 250px 250px 0;
    position: absolute;
    bottom: 15%;
    left: 20%;
    transform: rotate(235deg);
}

.Onion5 {
    background: linear-gradient(rgb(251, 223, 238), rgb(249, 141, 208));
    height: 16%;
    width: 6%;
    border-radius: 0 250px 250px 0;
    position: absolute;
    bottom: 50%;
    right: 10%;
    transform: rotate(100deg);
}

.Onion6 {
    background: linear-gradient(rgb(251, 223, 238), rgb(249, 141, 208));
    height: 16%;
    width: 6%;
    border-radius: 0 250px 250px 0;
    position: absolute;
    bottom: 45%;
    right: 45%;
    transform: rotate(50deg);
}

.Anchovy1 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 20%;
    left: 28%;
    transform: rotate(240deg);
}

.Anchovy2 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 20%;
    right: 25%;
    transform: rotate(300deg);
}

.Anchovy3 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 30%;
    right: 18%;
    transform: rotate(30deg);
}

.Anchovy4 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 15%;
    left: 40%;
    transform: rotate(84deg);
}

.Anchovy5 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 32%;
    left: 18%;
    transform: rotate(150deg);
}

.AnchovyImage {
    width: 80%;
    height: 80%;
}

.Olive1 {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 10%;
    left: 30%; 
}

.Olive2 {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 10%;
    right: 28%; 
}

.Olive3 {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 45%;
    right: 5%;
}

.Olive4 {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 5%;
    right: 40%; 
}

.Olive5 {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.Olive6 {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 40%;
    left: 30%; 
}

.Olive7 {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 40%;
    right: 30%; 
}

.Olive8 {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 30%;
    left: 45%; 
}

.Olive9 {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 50%;
    left: 0%; 
}

.OliveImage {
    width: 100%;
}

.Pepper1 {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 45%;
}

.Pepper2 {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 30%;
    right: 10%; 
}

.Pepper3 {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    right: 27%; 
}

.Pepper4 {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 5%;
    left: 12%; 
}

.Pepper5 {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 28%;
    left: 24%; 
}

.Pepper6 {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 16%;
    right: -10%; 
}

.PepperImage {
    width: 50%;
    height: 50%;
}

