.Footer {
    background-color: red;
    height: 100px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    z-index: 90;
    position: fixed;
}

.Footer img {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 9px;
}

.SocialMedia {
    width: 250px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Copyright {
    color: white;
    font-size: 1em;
    margin: auto auto 0 auto;
}
