.Home {
    text-align: center;
}

.Title {
    text-align: center;
    font-size: 2em;
}

.Home button {
    background-color: rgb(206, 252, 1);
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    margin: 30px;
    box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.Information {
    display: inline-block;
    width: 400px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background-color: green;
    color: white;
    margin-top: 50px;
    margin-bottom: 120px;
}

.Map {
    display: inline-block;
    width: 400px;
}

@media (max-width: 499px) {
    .Title {
        font-size: 1.5em;
    }
    .Information {
        width: 250px;
    }
}